* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(81, 52, 52);
}

.App {
  text-align: center;
  margin-top: 17rem;
  display: flex;
  justify-content: center;
}

.input-line {
  position: absolute;
  margin-top: -4rem;
  height: 8.5%;
  background-color: #a09a9a;
}

.input {
  background-color: #a09a9a;
  text-align: end;
  padding: 1rem 1rem;
  font-size: 20px;
  font-weight: bolder;
  width: 24.5rem;
  color: white;
}

.button-line1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3.1rem;
}

.button-line1 button {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: #d3d3d3;
  border: 0.1px solid black;
  cursor: pointer;
}

.button-line4 button {
  display: flex;
  justify-content: center;
  padding: 1rem 2.2rem;
  background-color: rgb(246, 121, 76);
  border: 0.1px solid black;
  cursor: pointer;
}

.button-line2 button {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: #d3d3d3;
  border: 0.1px solid black;
  cursor: pointer;
}

.button-line3 button {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: #d3d3d3;
  border: 0.1px solid black;
  cursor: pointer;
}

.button-line1 button:hover {
  background-color: aliceblue;
}

.button-line1 :nth-child(1) button {
  padding: 1rem 2.655rem;
}

.button-line1 :nth-child(5) button {
  padding-right: 9.6rem;
  position: absolute;
}

.button-line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3.1rem;
}

.button-line2 button:hover {
  background-color: aliceblue;
}

.button-line2 :nth-child(1) button {
  padding: 1rem 2.73rem;
}

.button-line3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-line3 button:hover {
  background-color: aliceblue;
}

.button-line3 :nth-child(1) button {
  padding: 1rem 2.86rem;
}

.button-line3 :nth-child(5) button {
  padding-right: 3.23rem;
  font-weight: bolder;
}

.button-line4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-line4 button:hover {
  background-color: rgb(102, 180, 248);
}

.button-line4 :nth-child(1) button {
  padding: 1rem 2.133rem;
}

.button-line4 :nth-child(2) button {
  padding: 1rem 2.15rem;
}

.button-line4 :nth-child(4) button {
  padding: 1rem 2.1rem;
}

.button-line4 :nth-child(5) button {
  padding: 1rem 2.1rem;
}
